## Project 1

Begin by importing pandas and NumPy:

In [4]:
import pandas as pd
import numpy as np

In this project we will be comparing flight delays across a selection of airports.
This data is contained in a .csv file, so we will need to read it into pandas:

In [11]:
flights_df = pd.read_csv("C:/Users/cscam/Project1.csv")

flights_df

   Airline   Status  Los Angeles  Phoenix  San Diego  San Fransisco  Seattle
0   Alaska  on time          497      221        212            503     1841
1   Alaska  delayed           62       12         20            102      305
2  AM West  on time          694     4840        383            320      201
3  AM West  delayed          117      415         65            129       61

We created a dataframe object named flights_df that now contains the data we need.
Dataframes allow for multi-dimensional data in a structure similar to the rows and columns in a relational database.

Now that we have the flights_df object, we can use various functions to perform analysis on the data.
Let's start by getting the total flights for Alaska Airlines at each airport:

In [75]:
Alaska_total = flights_df[['Los Angeles','Phoenix','San Diego','San Fransisco','Seattle']][:2].sum()
Alaska_total

Los Angeles       559
Phoenix           233
San Diego         232
San Fransisco     605
Seattle          2146
dtype: int64

And now the total for AM West:

In [77]:
AM_total = flights_df[['Los Angeles','Phoenix','San Diego','San Fransisco','Seattle']][2:4].sum()
AM_total

Los Angeles       811
Phoenix          5255
San Diego         448
San Fransisco     449
Seattle           262
dtype: int64

Let's find out what percentage of flights by airline were delayed at each airport:

In [103]:
Alaska_percent_delays = flights_df[['Los Angeles','Phoenix','San Diego','San Fransisco','Seattle']][1:2] / Alaska_total
Alaska_percent_delays

   Los Angeles   Phoenix  San Diego  San Fransisco   Seattle
1     0.110912  0.051502   0.086207       0.168595  0.142125

In [102]:
AM_percent_delays = flights_df[['Los Angeles','Phoenix','San Diego','San Fransisco','Seattle']][3:4] / AM_total
AM_percent_delays

   Los Angeles   Phoenix  San Diego  San Fransisco   Seattle
3     0.144266  0.078972   0.145089       0.287305  0.232824

Alaska_percent_delays and AM_percent_delays are new dataframe objects created from the calculations done on flights_df.
We can combine this information into a new dataframe to perform additional functional analysis:

In [112]:
airlines = ['Alaska','AM West']
new_df = pd.concat([Alaska_percent_delays, AM_percent_delays])
new_df["Airline"] = airlines
new_df.set_index("Airline")

         Los Angeles   Phoenix  San Diego  San Fransisco   Seattle
Airline
Alaska      0.110912  0.051502   0.086207       0.168595  0.142125
AM West     0.144266  0.078972   0.145089       0.287305  0.232824

Now let's answer the following questions:

Which airline had the lower percentage of delays?

In [114]:
new_df['Airline'].min()

'AM West'

In [ ]:
What was the average percentage of flight delays per airport?

In [129]:
new_df[['Los Angeles','Phoenix','San Diego','San Fransisco','Seattle']].mean()

Los Angeles      0.127589
Phoenix          0.065237
San Diego        0.115648
San Fransisco    0.227950
Seattle          0.187475
dtype: float64

This is a very simple overview, but it begins to demonstrate the powerof dataframe object for data analysis.